{%- comment -%}
Render an authorship list as "I. Family", linking anyone with a website.
Usage: {% include author_list.html authors=pub.authors %}
{%- endcomment -%}
{%- for author in include.authors -%}
{%- if author.given and author.family -%}
{%- assign given_parts = author.given | split: " " -%}
{%- capture display -%}
{%- for part in given_parts -%}
{%- assign initial = part | slice: 0 -%}
{%- unless initial == "(" %}{{ initial }}. {% endunless -%}
{%- endfor -%}
{% if author.von %}{{ author.von }} {% endif %}{{ author.family }}{% if author.suffix %}, {{ author.suffix }}{% endif %}
{%- endcapture -%}
{%- else -%}
{%- assign display = author.name -%}
{%- endif -%}
{%- assign author_url = "" -%}
{%- if author.person_id -%}
{%- assign person = site.data.lab.people | where: "id", author.person_id | first -%}
{%- comment -%} no self-link: this site is already the owner's page {%- endcomment -%}
{%- if person.website and person.website != site.data.lab.lab.website -%}{%- assign author_url = person.website -%}{%- endif -%}
{%- endif -%}
{%- if author_url != "" -%}<a href="{{ author_url }}">{{ display | escape }}</a>{%- else -%}{{ display | escape }}{%- endif -%}
{%- unless forloop.last %}, {% endunless -%}
{%- endfor -%}
